.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #555555;
	border-radius: 15px;
	padding: 0 12px;
	width: 57%;
	transition: all 0.3s;
	@media screen and (max-width: 1023px) {
		width: 85%;
	}

	@media screen and (max-width: 1023px) {
		margin-top: 40px
	}

	&.dark {
		background: #161616
	}
}

.aboutMe {
	padding: 0 15px;
	color: #ffffff;

	h2 {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1rem;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 35px;
		text-transform: uppercase;
		width: 100%;

		&::after {
			content: "";
			height: 3px;
			width: 50%;
			border-radius: 50px;
			background: var(--clr);
			// background: aqua;
		}

		@media screen and (max-width: 767px) {
			font-size: 33px;
		}
	}

	h4 {
		font-family: 'Raleway', sans-serif;
		font-size: 17px;
		line-height: 22px;
		opacity: 0.9;
		font-weight: 300;
	}
}

.languagesGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;

	@media screen and (max-width: 767px) {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}